<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Редактиврование урока</title>
        <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body class="text-light bg-dark">
        <div class="container">
            <header th:replace="fragments/header :: header"></header>

            <h1>Создать урок</h1>

            <form th:object="${lesson}" th:method="post" th:action="@{/lesson}">
                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{courseId}">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="title">Название</label>
                    </div>
                    <input id="title" type="text" th:class="'form-control ' + ${#fields.hasErrors('title') ? 'is-invalid' : ''}" th:field="*{title}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                </div>

                <div class="form-floating">
                    <textarea type="form-control" th:class="'form-control ' + ${#fields.hasErrors('text') ? 'is-invalid' : ''}" placeholder="Содержание урока" id="floatingTextarea" th:field="*{text}"></textarea>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </body>
</html>